extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserBreakfast(type="text", placeholder="breakfast", name="breakfast")
        input#inputUserRating(type="text", placeholder="rating", name="rating")
        button#btnSubmit(type="submit") submit
