extends layout

block content
    h1  Delete Breakfast
    form#formRemoveUser(name="killuser",method="delete",action="/removeuser")
        input#inputUserId(type="text", placeholder="breakfast to be deleted", name="breakfast")
        button#btnSubmit(type="submit") submit
