extends layout

block content
    h1= title
    form#formUpdateUser(name="updateuser",method="put",action="/updateuser")
        input#inputUserId(type="text", placeholder="breakfast number", name="id")
        input#inputUserRating(type="text", placeholder="rating", name="rating")
        button#btnSubmit(type="submit") submit
